<% include ../partials/header %>
<div class="container">
    <h1>Student for <%= detail.subject_id %> <%= detail.subject_name %></h1>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>major</th>
            </tr>
        </thead>
        <tbody>
            <% detail.students.forEach(function(s){ %>
            <tr>
                <td scope="row"><%= s.sid %></td>
                <td><%= s.name %></td>
                <td><%= s.major %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<% include ../partials/footer %>